//- options : {
//-   published: string,
//-   pageName: string,
//- }
//- 
mixin editor(options)
  .container.wysiwig-editor(data-editable data-name=options.pageName)
    if block
      block
    else
      p This page has no Content