.div(style="margin-top: 20px;")
  //- h3(style="color:A0A09F;") footer
  .container.footer
    .row
      .col-md-3.col-sm-3.col-lg-2
        h5 Berlin
        p 
          | XC.Hua Gallery <br/>
          | Potsdamer Str. 81b, <br/>
          | 10785, Berlin
      .col-md-3.col-sm-3.col-lg-2
        h5 Beijing
        p
          | XC.HuA Gallery <br/>
          | 323-A6 Caochangdi, Airport Side Road, Chaoyang District, </br>
          | Beijing, China, 100015
      .col-md-3.col-sm-3.col-lg-2
        h5 北京
        p
          | 户尔空间 <br/>
          | 中国北京市朝阳区机场辅路 草场地 <br/>
          | 323—A6  100015
      .col-md-1.col-sm-1.col-lg-4
        p 
      .col-md-2.col-sm-2.col-lg-2
        .icons
          a(href="https://www.facebook.com/XC.HuAGalleries/" target="_blank")
            img(src="/assets/img/fb-icon.png")
          a(href="https://www.instagram.com/xc.hua_gallery/" target="_blank")
            img(src="/assets/img/instagram-icon.png")
          a(href="/wechat" target="_blank")
            img(src="/assets/img/wechat-icon.png")