extends ../layouts/layout

include ../mixins/gallery-space

block intro
  div

block tabbar
  ul.tabs
    li.active: a(select='#about' href='#' onclick='openTab(this)')
      | #{lang == 'chinese' ? 'Gallery Statements' : 'Gallery Statements'}
    li: a(select='#spaces' href='#' onclick='openTab(this)')
      | #{lang == 'chinese' ? 'Gallery Spaces' : 'Gallery Spaces'}

block content
  .page: .scrollpane: .scrollpane-content
    #about.tab.active
      if aboutText
        div!= aboutText.content[lang] || aboutText.content.english
      else
        div About Text not found!
    #spaces.tab
      .spaces
        each space in spaces
          +gallery-space(space)

block js
  script(src='/js/tabs.js')