extends ../layouts/layout

include ../mixins/gallery-space

block intro
  style.
    #page-title {
      text-align: center;
      left: 50% !important;
      transform: translateX(-50%);
      text-transform: capitalize;
    }
    #page-title a {
      cursor: pointer;
    }
    #page-title a:hover {
      text-decoration: none;
      color: #bbb;
    }
  h2#page-title 
    a(onclick="filter('Berlin')") Berlin
    span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    a(onclick="filter('Beijing')") Beijing

block tabbar
  ul.tabs
    li.active: a(select='#about' onclick='scrollToSection(this)')
      | #{lang == 'chinese' ? 'Gallery Statements' : 'Gallery Statements'}
    li: a(select='#spaces' onclick='scrollToSection(this)')
      | #{lang == 'chinese' ? 'Gallery Spaces' : 'Gallery Spaces'}

block content
  .page: .scrollpane: .scrollpane-content
    #about
      if aboutText
        div(
          data-editable= inlineEditable(user, {
            list: 'textblocks',
            path: 'content.' + (lang || 'english'),
            data: JSON.stringify(aboutText)
          })
        )!= aboutText.content[lang] || aboutText.content.english
      else
        div About Text not found!
    #spaces
      .spaces
        each space, index in spaces
          if index % 2 == 0
            .row
              .col-sm-12.col-md-6.col-lg-6
                +gallery-space(space)
              .col-sm-12.col-md-6.col-lg-6
                +gallery-space(spaces[index+1])

block js
  script(src='/js/tabs.js')