extends ../layouts/layout

include ../mixins/gallery-space
include ../mixins/snippet

mixin sidemenu-link(id, snippetSlug)
  -var ts = snippets[snippetSlug] || snippetSlug
  a(onclick= "scrollToSection(this)", select=id
    snippet-editable= snippetEditable(user, ts, lang)
  )!= ts.content ? ts.content[lang] || ts.content.english : ts

block intro
  h3
    +snippet('about-title')
  
block tabbar
  ul.tabs
    li.active
      +sidemenu-link('#spaces', 'about-spaces')
    li
      +sidemenu-link('#about', 'about-statements')

block content
  .page#aboutPage: .scrollpane#mainScrollpane: .scrollpane-content
    #spaces
      .spaces
        each space, index in spaces
          if index % 2 == 0
            .row
              .col-sm-12.col-md-6.col-lg-5.left
                +gallery-space(space)
              .col-sm-12.col-md-6.col-lg-5.right
                +gallery-space(spaces[index+1])
      hr
    br
    br
    br
    #about
      .row: .col-sm-12.col-md-12.col-lg-10
        if aboutText
          div(
            class="about-text"
            data-editable= inlineEditable(user, {
              list: 'textblocks',
              path: 'content.' + (lang || 'english'),
              data: JSON.stringify(aboutText)
            })
          )!= aboutText.content[lang] || aboutText.content.english
        else
          div About Text not found!
      br
      br
      br
      br
      br
      br

block js
  script(src='/js/tabs.js')
  script(src='/js/about.js')