extends ../layouts/default

block intro
  .page-header.container
    h2= artist.name.first + ' ' + artist.name.last
    ul.tabs
      li.active: a(href='javascrip:void(0)' onclick='openTab(this)') Works
      li: a(href='javascrip:void(0)' onclick='openTab(this)') Biography
      li: a(href='javascrip:void(0)' onclick='openTab(this)') Exhibitions

block content
  if artist
    .page.container
      #works.tab.active
        .grid
          each image in artist.works 
            .grid-item
              .gallery-image
                img(src=image.limit(640,640))
          //- .grid-item
          //-   .gallery-image
          //-     img(src="/images/title-1.jpg")
          //- .grid-item
          //-   .gallery-image
          //-     img(src="/images/title-1.jpg")
          //- .grid-item
          //-   .gallery-image
          //-     img(src="/images/title-1.jpg")
          //- .grid-item
          //-   .gallery-image
          //-     img(src="/images/title-1.jpg")
          //- .grid-item
          //-   .gallery-image
          //-     img(src="/images/title-1.jpg")
          //- .grid-item
          //-   .gallery-image
          //-     img(src="/images/title-1.jpg")
          //- .grid-item
          //-   .gallery-image
          //-     img(src="/images/title-1.jpg")    
      #biography.tab!= artist.biography
      #exhibitions.tab
        div exhibitions


block js
  script(src='/js/artist.js')
