extends ../layouts/default

include ../mixins/exhibition
include ../mixins/masonry

block intro
  .page-header.container
    - var name= artist.name[lang] && artist.name[lang].first ? artist.name[lang] : artist.name.english
    h2= name.first + ' ' + name.last
    ul.tabs
      li.active: a(href='javascrip:void(0)' onclick='openTab(this)')= lang=='chinese' ? 'Works' : 'Works'
      li: a(href='javascrip:void(0)' onclick='openTab(this)')= lang == 'chinese' ? 'Biography' : 'Biography'
      li: a(href='javascrip:void(0)' onclick='openTab(this)')= lang == 'chinese' ? 'Exhibitions' : 'Exhibitions'

block content
  if artist
    .page.container
      #works.tab.active.wide
        +works-masonry(artist.works)
        //- .grid
          each work in artist.works
            .grid-item
              .gallery-image
                img(src=work._.image.limit(640,640))
      #biography.tab!= artist.biography[lang] || artist.biography.english
      #exhibitions.tab
        if artist.exhibitions.length
          ul.exhibitions-list
            each exhibition in artist.exhibitions
              +exhibition(exhibition)
        else
          h5 No exhibitions found
  //- else
  //-   p= JSON.stringify(artist)



block js
  script(src='/js/artist.js')
  script(src='/js/masonry.js')
