extends ../layouts/layout

include ../mixins/exhibition
include ../mixins/snippet

mixin sidemenu-link(id, snippetSlug)
  -var ts = snippets[snippetSlug] || snippetSlug
  a(onclick= "scrollToSection(this)", select=id
    snippet-editable= snippetEditable(user, ts, lang)
  )!= ts.content ? ts.content[lang] || ts.content.english : ts

block intro
  h3
    +snippet('exhibitions-title')

block tabbar
  ul.tabs
    if exhibitions.upcoming.indices.length > 0
      li
        +sidemenu-link('#upcoming', 'exhibitions-upcoming')
    if exhibitions.current.indices.length > 0
      li
        +sidemenu-link('#current', 'exhibitions-current')
    if exhibitions.past.indices.length > 0
      li
        +sidemenu-link('#past', 'exhibitions-past')

block content
  .page: .scrollpane#mainScrollpane: .scrollpane-content
    #upcoming
      if exhibitions.upcoming.indices.length > 0
        ul.exhibitions-list
          each i in exhibitions.upcoming.indices
            .row
              .col-sm-12.col-md-6.col-lg-6.left
                if i < exhibitions.upcoming.berlin.length
                  +exhibition(exhibitions.upcoming.berlin[i])
              .col-sm-12.col-md-6.col-lg-6.right
                if i < exhibitions.upcoming.beijing.length
                  +exhibition(exhibitions.upcoming.beijing[i])
        br
    #current
      if exhibitions.current.indices.length > 0
        ul.exhibitions-list
          each i in exhibitions.current.indices
            .row
              .col-sm-12.col-md-6.col-lg-6.left
                if i < exhibitions.current.berlin.length
                  +exhibition(exhibitions.current.berlin[i])
              .col-sm-12.col-md-6.col-lg-6.right
                if i < exhibitions.current.beijing.length
                  +exhibition(exhibitions.current.beijing[i])
        br
    #past
      if exhibitions.past.indices.length > 0
        ul.exhibitions-list
          each i in exhibitions.past.indices
            .row
              .col-sm-12.col-md-6.col-lg-6.left
                if i < exhibitions.past.berlin.length
                  +exhibition(exhibitions.past.berlin[i])
              .col-sm-12.col-md-6.col-lg-6.right
                if i < exhibitions.past.beijing.length
                  +exhibition(exhibitions.past.beijing[i])
        br
    
block js
  script(src="/js/exhibitions.js")