extends ../layouts/layout

include ../mixins/exhibition.pug

block intro
  style.
    #page-title {
      text-align: center;
      left: 50% !important;
      transform: translateX(-50%);
      text-transform: capitalize;
    }
    #page-title a {
      cursor: pointer;
    }
    #page-title a:hover {
      text-decoration: none;
      color: #bbb;
    }
    
  h2#page-title 
    a(onclick="filter('Berlin')") Berlin
    span(style='font-weight: 100;') &nbsp;&nbsp;|&nbsp;&nbsp;
    a(onclick="filter('Beijing')") Beijing

block tabbar
  ul.tabs
    li.active: a(onclick= "scrollToSection(this)" select="#upcoming") Upcoming
    li: a(onclick= "scrollToSection(this)" select="#current") Current
    li: a(onclick= "scrollToSection(this)" select="#past") Past

block content
  .page: .scrollpane#mainScrollpane: .scrollpane-content
    #upcoming
      h2 Future (#{exhibitions.upcoming.length})
      hr
      ul.exhibitions-list
        each ex in exhibitions.upcoming
          +exhibition(ex)
      br
    #current
      h2 Current (#{exhibitions.current.length})
      hr
      ul.exhibitions-list
        each ex in exhibitions.current
          +exhibition(ex)
      br
    #past
      h2 Past (#{exhibitions.past.length})
      hr
      ul.exhibitions-list
        each ex in exhibitions.past
          +exhibition(ex)
      br

    
block js
  script(src="/js/tabs.js")
  script(src="/js/exhibitions.js")