extends ../layouts/layout

include ../mixins/exhibition.pug

block intro
  h2#page-title Exhibtions

block tabbar
  ul.tabs
    li: a(onclick= "scrollToSection(this)" select="#upcoming") Upcoming Exhibitions
    li: a(onclick= "scrollToSection(this)" select="#current") Current Exhibitions
    li: a(onclick= "scrollToSection(this)" select="#past") Past Exhibtions

block content
  .page: .scrollpane#mainScrollpane: .scrollpane-content
    #upcoming
      h2 Future (#{exhibitions.upcoming.length}) 
      ul.exhibitions-list
        each ex in exhibitions.upcoming
          +exhibition(ex)
    #current
      h2 Current (#{exhibitions.current.length}) 
      ul.exhibitions-list
        each ex in exhibitions.current
          +exhibition(ex)
    #past
      h2 Past (#{exhibitions.past.length}) 
      ul.exhibitions-list
        each ex in exhibitions.past
          +exhibition(ex)

    
block js
  script(src="/js/tabs.js")
  script(src="/js/exhibitions.js")