extends ../layouts/default

include ../mixins/masonry

block intro
  .page-header.container
    h2= exhibition.title[lang] || exhibition.title.english

block content
  if exhibition
    .page.container
      div!= exhibition.text[lang] || exhibition.text.english
