extends ../layouts/default

block intro
  h2 Fairs

block content
  .page
    if fairs.length
      ul.fairs-list
        each fair in fairs
          a(href= "/fair/" + fair.slug)= fair.title[lang] || fair.title.english
    else
      h5 No Fairs found