extends ../layouts/layout

block intro

block tabbar

block content
  style.
    .sc {
      position: relative;
      width: 480px;
      height: 320px;
      overflow: auto;
    }
    .sc .cnt {
      background-image: url('https://i.imgur.com/nAUUNzH.jpg');
      width: 1280px;
      height: 720px;
    }
  .sc
    .cnt
  .sc
    .cnt
block js
  script.
    $('.sc').each(function() {
      var ps = new PerfectScrollbar($(this).get(0));
    })
