extends ../layouts/layout

include ../mixins/publication.pug

block intro
  //- .page-header.container
    //- h2 Publications

block content
  .page: .scrollpane: .scrollpane-content.limit-width
    br
    br
    br
    if publications.length
      ul.publications-list
        each publication in publications
          +publication(publication)
    else
      h5 No publications found...