extends ../layouts/layout

block intro
  if data
    h2= data.title

block content
  .page: .scrollpane: .scrollpane-content
    if data
      .container(style='text-align: justify;')!= data.content[lang] || data.content.english