extends ./layout

block css
  link(rel="stylesheet" href="/styles/index.css")

block content
  //- #menu-bg
  #gallery
    img.placeholder(src="/assets/img/title-gallery/title-1.jpg")
    img.active(src="/assets/img/title-gallery/title-2.jpg")
    img(src="/assets/img/title-gallery/title-2.jpg")
    #gallery-title
      h2 
        a(href="/artist/matt-hope") Matt Hope 
        | | 
        a(href="/current-exhibition") Sum Of Parts
      h2 June 2 - July 15, 2018 Beijing


block js
  script(src="/js/index.js")