#image-modal
  .img-container
    img()
    //- .caption.large-only
  .description
    a.previous-image-button &#10094;
    .caption
    //- .caption.small-only
    //- div.large-only(style='width: 70%;')
    a.next-image-button &#10095;