a#logo(href="/")
  include ./logo.svg

#sidenav-toggle
  button(
    onclick="openNav()"
  )
    div(style="background: #bbb;")
    div
    div
    

#sidenav.sidenav
  a.closebtn(href="javascript:void(0)" onclick="closeNav()") &times;
  //- each link in navLinks
    li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
  a(keep-lang href="/" class= section=='home' ? 'active' : '') 
    | Home
  a(keep-lang href="/artists" class= section=='artists' ? 'active' : '')
    | Artists
  a(keep-lang href="/exhibitions" class= section=='exhibitions' ? 'active' : '')
    | Exhibitions
  a(keep-lang href="/fairs" class= section=='fairs' ? 'active' : '') 
    | Fairs
  a(keep-lang href="/publications" class= section=='more' ? 'active' : '') 
    | Publications
  a(keep-lang href="/blog" class= section=='about' ? 'active' : '')
    | News
  a(keep-lang href="/about" class= section=='more' ? 'active' : '') 
    | About
  a(keep-lang href="/contact" class= section=='more' ? 'active' : '') 
    | Contact
  a(switch-lang="english")
    | English
  a(switch-lang="chinese")
    | Chinese