mixin exhibition(exhibition)
  if exhibition
    .exhibition-card(onclick= "window.location='/exhibition/" + exhibition.slug + "'")
      if exhibition.thumbnail
        img(src= exhibition._.thumbnail.limit(320, 320) style="width: 160px;")
      h3= exhibition.title
      if exhibition.date
        p
        | #{exhibition._.date.start.format('MM DD YYYY')} to&nbsp;
        | #{exhibition._.date.end.format('MM DD YYYY')}
      p= exhibition.location