include ./artwork

mixin masonry(images)
  if images
    .grid.masonry.modal-images
      each image in images
        .grid-item
          img.masonry-image.modal-image(src=image.secure_url)
  else
    p cannot display masonry - images not defined


mixin works-masonry(works, horizontal, artist)
  if horizontal
    if works
      .grid-h.masonry.masonry-works.modal-images
        each work in works
          .grid-item(class= work.masonrySize)
            +artwork(work, artist || work.artist)
    else
      p cannot display masonry - works not defined
  else
    if works
      .grid.masonry.masonry-works.modal-images
        each work in works
          .grid-item(class= work.masonrySize)
            +artwork(work, artist || work.artist)
    else
      p cannot display masonry - works not defined

mixin series-masonry(series, works, artist)
  if series && works
    if series.length > 0
      if works && works.length > 0
        -var x = series.push({title: {english: 'Uncategorized'},artworks: works,selectedWork: works[0], artist: artist})
      .modal-images
        each s in series
          .grid.masonry.masonry-works
            +series(s, artist)
            .grid-item.divider(style="width: 100%; height:16px; border-top: 1px solid lightgrey;")
          //- .grid-item(style="width: 100%; height:16px; border-top: 1px solid lightgrey;")
    else
      .grid.masonry.masonry-works.modal-images
        each w in works
          .grid-item(class= w.masonrySize)
            +artwork(w, artist || w.artist)        
  else
    h3(style='color: red;') Error: invalid arguments in mixin +series-masonry!


