mixin publication(publication)
  if publication
    .publication-card(data-ks-editable=editable(user, {list: 'Publication', id: publication.id}))
      if publication.thumbnail
          img(src= publication._.thumbnail.limit(320,320) style="width:160px;")
      h3= publication.title[lang] || publication.title.english
      p!= publication.description[lang] || publication.description.english

