extends ../../layouts/layout

block intro


block tabbar


block content
  .page: .scrollpane: .scrollpane-content
    img(
      src="/images/wechatQR.webp",
      style="margin-left:50%; transform: translateX(-50%); margin-top: 64px; width: 320px; height: 320px;"
    )
    p(
      style="text-align: center;"
    ) Wechat QR Code