doctype html

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="robots" content="NOODP")
    meta(name="description" content="XC.Hua Galerie: Berlin . Beijing")

    title= title || 'XC.HuA'

    //- link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    link(href='/styles/site.min.css', rel='stylesheet')
    link(href='/js/perfect-scrollbar/css/perfect-scrollbar.css', rel='stylesheet')

    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    block css

    block head

  body
    <!--googleoff: snippet-->
    #header
      include ../partials/nav.pug
      #tabbar
        //- ul.tabs
          li: a() tab 1
          li: a() tab 2
          li: a() tab 3
        block tabbar
      #titlebar
        //- h2 Page Title
        block intro
      include ../partials/image-modal
    <!--googleon: snippet-->
    #body
      #content
        //- p content inside
        block content
      a#logo(href="/")
        include ./logo.svg
      ul#social-links
        each link in socialLinks
          li: a(href= link.url, target="_blank")!= link.iconHtml

    script(src='/js/jquery/jquery-1.11.3.min.js')
    script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
    script(src="https://unpkg.com/packery@2/dist/packery.pkgd.js")
    script(src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js")
    script(src='/js/perfect-scrollbar/dist/perfect-scrollbar.js')

    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')
      script(src='https://cdn.ckeditor.com/ckeditor5/11.0.1/inline/ckeditor.js')
      script(src='/js/admin/editor.js')
    
    script(src='/js/site.js')
    script(src='/js/image-modal.js')

    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-135804014-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-135804014-1');


    block js
    