.artists-list {

    font-size: 2rem;
    list-style-type: none;
    padding-left: 0;

    li {
        text-transform: uppercase;
        line-height: 4rem;
        a {

            text-decoration: none;
        }
    }
}

.grid-item {
    width: 24%;
}

@media screen and (max-width: 480px) {
    .grid-item {
        width: 100%;
    }
}
 
@media screen and (min-width: 480px) and (max-width: 720px) {
    .grid-item {
        width: 48%;
    }
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
    .grid-item {
        width: 32%
    }
}
