.artists-list {

    font-size: 2rem;
    list-style-type: none;
    padding-left: 0;

    li {
        text-transform: uppercase;
        line-height: 4rem;
        a {

            text-decoration: none;
        }
    }
}


