.spaces {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    .gallery-space {

        width: 100%;

        
        .address {
            padding-top: 10px;
            height: 90px;
        }
        
        img {
            width: 80%;
        }
        // h2 {

        // }

        // .phone {

        // }
        // .hours {
            
            // }
            
    }

    @media screen and (max-width: 720px) {
        .gallery-space {
            width: 100%;
        }
    }
}