
.spaces {
    
    .row {
        width: 100%;
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    .gallery-space {

        width: 100%;

        
        .address {
            padding-top: 10px;
            height: 90px;
        }
        
        img {
            width: 100%;
        }
        // h2 {

        // }

        // .phone {

        // }
        // .hours {
            
            // }
            
    }

    // .right {
    //     .gallery-space {
    //         text-align: right;
    //         h2 {
    //             text-align: left;
    //         }
    //     }
    // }

    @media screen and (max-width: 720px) {
        .gallery-space {
            width: 100%;
        }
    }
}