body {
	overflow-y: hidden;
}

h1, h2, h3, p, a {
	color: @color-fg-light;
}
  
h3.page-title {
	color: @color-fg-dark;
	text-transform: capitalize;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.page-header {
	margin-bottom: 0;
	margin-top: 48px;
	padding-left: 140px;
	padding-bottom: 0;
	padding-right: 32px;
	transition: all .5s ease;
	border: 0;
	height: 32px;
	h2 {
		color: black;
		display: inline;
		font-size: 2.5rem;
		font-weight: 600;
	}
}

.page {
	padding-left: 140px;
	padding-top: 32px;
	padding-right: 32px;

	transition: all .5s ease;

	height: ~"calc(100vh - 80px)";
	max-height: ~"calc(100vh - 80px)";

	a {
		text-decoration: underline;
	}
}


.limit-width {
	max-width: 1800px;
}



@media screen and (max-width: 720px) {
   .page-header {
	   h2 {
		   float: right;
	   }
	   padding-left: 64px;
   }
   .page {
	   padding-left: 8px;
	   padding-right: 8px;
	   padding-top: 8px;
   }
   .limit-width {
	   max-width: unset;
   }
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,0.0);
	box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

// ::-webkit-scrollbar-track {

// }


@media screen and (max-width: @size-md) {
	.large-only {
		display: none !important;
	}
	.small-only {
		display: block;
	}
	.limit-width {
		max-width: unset;
	}
}

@media screen and (min-width: (@size-md + 1)) {
	.small-only {
		display: none !important;
	}
	.large-only {
		display: block;
	}
	.limit-width {
		max-width: 1200px;
	}
}

