.masonry {
    img {
        width: 100%;
    }
}

.masonry.masonry-works {

}

// PHONES
@media screen and (max-width: 480px) {
    .grid {
        .grid-item {
            width: 48%;
        }
        // .grid-item.big {
        //     width: 100%;
        // }
        // .grid-item.small {
        //     width: 48%;
        // }
    }
}

//TABLETS
@media screen and (min-width: 480px) and (max-width: 720px) {
    .grid {
        .grid-item {
            width: 48%;
        }
       .grid-item.small {
            width: 48%;
        }
        .grid-item.big {
           width: 100%;
        }
   }
}

//COMPUTER SCREENS
@media screen and (min-width: 720px) and (max-width: 1024px) {
    .grid {
        .grid-item.small {
             width: 32%;
        }
        .grid-item {
             width: 32%;
        }
        .grid-item.big {
            width: 65%;
        }
    }
}

//LARGE SCREENS
@media screen and (min-width: 1024px) {
    .grid {
        .grid-item.small {
            width: 23.5%;
        }
        .grid-item {
            width: 32%;
        }
        .grid-item.big {
           width: 48%;
        }
    }
}