.masonry {
    img {
        width: 100%;
    }
}

.grid-item {
    opacity: 0;
}
.grid {
    .grid-item.hidden {
        width: 0;
        opacity: 0;
    }
    .grid-item.huge {
        width: 63%;
        max-height: 340px;
        height: 340px;
        overflow: hidden;
        
    }
    .grid-item.series-title {
        width: 27%;
        height: 340px;
    }
    .grid-item.tiny {
        width: 24%;
    }
}

.grid-h {
    height: 100%;
    img {
        height: 100%;
        width: auto;
    }
    .grid-item {
        height: 100%;
    }
}

@media screen and (max-width: 362px) {
    .grid {
        .grid-item {
            width: 100%;
        }
    }
}
// PHONES
@media screen and (min-width: 364px) and (max-width: 480px) {
    .grid {
        .grid-item {
            width: 48.5%;
        }
    }
}

//TABLETS
@media screen and (min-width: 480px) and (max-width: 720px) {
    .grid {
        .grid-item {
            width: 48%;
        }
       .grid-item.small {
            width: 48%;
        }
        .grid-item.big {
           width: 100%;
        }
   }
}

//COMPUTER SCREENS
@media screen and (min-width: 720px) and (max-width: 1024px) {
    .grid {
        .grid-item.small {
             width: 31%;
        }
        .grid-item {
             width: 31%;
        }
        .grid-item.big {
            width: 65%;
        }
    }
}

//LARGE SCREENS
@media screen and (min-width: 1024px) {
    .grid {
        .grid-item.small {
            width: 23.5%;
        }
        .grid-item {
            width: 31%;
        }
        .grid-item.big {
           width: 48%;
        }
    }
}

@media screen and (min-width: 1360px) {
    .grid {
        .grid-item.huge, .grid-item.series-title {
            height: 450px;
            max-height: 400px;
        }
        
    }
}

.narrow {
    .grid {
        .grid-item {
            width: 100%;
        }
    }
}

.publication {
    .grid {
        .grid-item:first-child {
            width: 100%;
        }
        .grid-item {
            width: 48%;
        }
    }
}