.tabs {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
    flex-direction: column;
    padding-left: @padding;
    li {
        display: block;
        text-transform: uppercase;
        color: @color-fg-dark;
        // margin-right: 20px;
        transition: all .5s;
        font-size: 1.5rem;
        line-height: 3.5rem;
        position: relative;
        padding-left: 32px;
        cursor: pointer;
        a {
            text-decoration: none;
            color: @color-fg-dark;
        }
    }
    li:last-child {
        margin-right: 0;
    }
    li.active {
        a {
            color: #bbb;
        }
        // border-top: 1px solid #bbb;
        font-size: 1.6rem;
    }
    li:hover {
        // font-size: 1.8rem;
        a {
            color: #bbb;
        }
    }
    // li::after {
    //     content: '';
    //     z-index: -1;
    //     position: absolute;
    //     top:-140px;
    //     left:0;
    //     right:0;
    //     bottom:140px;
    //     border-bottom: 1px solid transparent;
    //     transition: all .5s ease;
    // }
    // li.active::after {
    //     top: 0px;
    //     bottom: 0px;
    //     border-bottom: 1px solid #bbb;
    // }
    // li:hover::after {
    //     top: 0px;
    //     bottom: 0px;
    //     border-bottom: 1px solid #bbb;
    // }
}

.tab {
    display: none;
    transition: all 1s ease;
    height: 100%;
}
.tab.active {
    display: block;
}

@media screen and (max-width: @size-md) {
    .tabs {
        padding-left: @padding-md;
    }
}


@media screen and (max-width: @size-sm) {
    .tabs {
        padding-left: @padding-sm;
    }
}