// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;

@color-primary: '#aaa';
@color-bg-dark: rgba(0,0,0,0.8);
@color-fg-dark: #A0A09F;
@color-fg-dark-highlight: #eeeeee;
@color-bg-light: 'white';
@color-fg-light: #424242;