.container(style="height: 640px; position:relative;")

  h3 Artist Pages
  button.badge-button.btn.btn-primary(onclick="createNewArtist()")
    i.fa.fa-plus
  br
  table#artist-table()
    thead
      tr
        th Artist Name
        th Works
        th Exibitions
        th Biography
        th Edited At
        th
        th
    tbody
      each artist in artists
        tr
          td= artist
          td
            i.fa.fa-check(style="color:#5cb85c;")
          td
            i.fa.fa-times(style="color:#d9534f;")
          td
            i.fa.fa-times(style="color:#d9534f;")
          td= new Date().toDateString()
          td
            a(href="/admin/edit-page/" + artist)
              i.fa.fa-pencil
          td
            a.delete-row(href="/admin/delete-page/" + artist)
              i.fa.fa-trash(style="color:#d9534f;")

  script.
    document.addEventListener('DOMContentLoaded', () => {
      $('.delete-row').click(function(){
        return confirm("Are you sure you want to delete?");
      })

      $('#artist-table').DataTable({
        fixedHeader:true,
        columns: [
          null,
          {"orderable":false},
          {"orderable":false},
          {"orderable":false},
          null,
          {"orderable":false},
          {"orderable":false},
        ]
      })
    })

    function createNewArtist() {
      let artistName = prompt("Please enter the artists' name", "Name")
      
      if (artistName == null) {
        return
      }

      let data = {

      }

      data[artistName + '.html'] = `<h1>${artistName}</h1>`

      $.post(`/admin/save-page`, data, 
        (data) => {
          window.location.href = `/admin/edit-page/${artistName}.html`
        })
    }
  style.
    .badge-button {
      position: absolute;
      top: 14px;
      right: 14px;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      font-size: 24px;
      padding: 0;
      padding-top: 4px;
    }
    .badge-button i {
      color: white;
    }