body {
    font-family: 'Barlow Condensed', sans-serif;
}

.navbar-static-top {
    margin-bottom: 19px;
}

h1, h2, h3, p, a {
  color: #424242;
}

h3.page-title {
  color:#A0A09F;
  text-transform: capitalize;
}


/* FOOTER */

.footer {
  padding-bottom: 16px;
}
.footer h5 {
  font-weight: bold;
  text-transform: capitalize;
  color: #424242;
}

.footer p {
  color: #424242;
}

.footer .icons img {
  padding-right: 8px;
}

@media (max-width: 844px) {
  .footer p, .footer h5 {
    font-size: 12px !important;
  }
}




/* navbar customization*/

.sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 100;
  top:0;
  left:-350px;
  max-width: 100%;
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  padding-top: 60px;
  transition: all 0.5s ease;
  -webkit-box-shadow: -7px -1px 5px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: -7px -1px 5px -2px rgba(0,0,0,0.2);
  box-shadow: -7px -1px 5px -2px rgba(0,0,0,0.2);
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2rem;
  color: #A0A09F;
  display: block;
  transition: all 0.3s ease;
  padding-left: 200px;
}
.sidenav a.active {

}

.sidenav a:hover {
  color: #EEEEEE;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  padding: 5px;
  padding-top: 0;
}

#sidenav-toggle button {
  position: fixed;
  left: -20px;
  top: 40px;
  font-size: 3rem;
  z-index: 4;
  border: 0;
  background: transparent;
  transition: transform 1s ease;
  transform: rotate(17deg);
}

#sidenav-toggle button div {
  width: 70px;
  height: 4px;
  background-color: #eeeeee;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: margin-bottom 0.4s ease;
  transition: margin-bottom 0.4s ease,
    margin-top 0.4s ease,
    transform .4s ease;
}

@supports (backdrop-filter: invert(1)) or (-webkit-backdrop-filter: invert(1)) {
  #first-bar {
      opacity: 1;
      background: transparent;
      background-color: transparent;
      -webkit-backdrop-filter: invert(1);
      backdrop-filter: invert(1);
  }
}

@supports not ((backdrop-filter: invert(1)) or (-webkit-backdrop-filter: invert(1))) {
  #first-bar {
      background-color: initial;
      opacity: 0;
  }
}


#sidenav-toggle button:hover {
  
}
#sidenav-toggle button:hover div {
  background-color: #EEEEEE;
  margin-bottom: 30px;
  margin-top: 30px;
  transform: rotate(-180deg);
}


#logo {
  position: fixed;
  z-index: 400;
  padding-left: 50px;
  padding-right: 20px;
  /* background: rgba(255,255,255,0.6); */
  text-decoration: none;
  display: block;
  top: -17;
}

#logo svg { 
  width: 140px;
  height: 48px;
}

#main {
  transition: margin-right .5s ease;
  min-height: 100%;
  /* padding: 20px; */
}

@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 1.5rem; }
}


/*.navbar {
  background-color: #ffffff;
  margin-bottom: 0;
}
.navbar .navbar-brand {
  color: #424242;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #292727;
}
.navbar .navbar-text {
  color: #424242;
}
.navbar .navbar-text a {
  color: #292727;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #292727; 
}
.navbar .navbar-nav .nav-link {
  color: #424242;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #292727;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #ffffff;
  border-color: #f2f2f2;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #424242;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #292727;
  background-color: #f2f2f2;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #f2f2f2;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #292727;
  background-color: #f2f2f2;
}
.navbar .navbar-toggle {
  border-color: #f2f2f2;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #f2f2f2;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #424242;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #424242;
}
.navbar .navbar-link {
  color: #424242;
}
.navbar .navbar-link:hover {
  color: #292727;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #424242;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #292727;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #292727;
    background-color: #f2f2f2;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #424242;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #292727;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #292727;
    background-color: #f2f2f2;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #424242;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #292727;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #292727;
    background-color: #f2f2f2;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #424242;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #292727;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #292727;
    background-color: #f2f2f2;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #424242;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #292727;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #292727;
  background-color: #f2f2f2;
}

*/